.calendar {
  border: 1px solid #aaa;
  width: 100%;
  height: 100%;
}

.calendar-header {
  text-align: center;
}

.calendar table {
  border-collapse: collapse;
}

.calendar .day {
  border: 1px solid #aaa;
  width: 100px;
  height: 100px;
  vertical-align: top;
  padding: 5px;
  cursor: default;
  user-select: none;
}

.calendar .day-dim {
  border: 1px solid #eee;
  color: #888;
}

.calendar .day-selected {
  background-color: hsl(219.1, 35.4%, 87.3%);
}

.calendar .day:not(.day-selected):hover {
  background-color: hsl(219.1, 35.4%, 95%);
}

.calendar .day-entries {
  padding: 0;
  list-style: none;
}

.add-entry {
  border: 1px solid #aaa;
}
